* {
    box-sizing: border-box;
}
.columns {
    height: 100vh;
}

#red {
    color: red;
}

#map {
    height: 100%;
    width: 800px;
  }
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }